<!--Privacy policy tempalate-->
{% extends 'base.html' %}
{% block title %} Privacy Policy {% endblock %}

{% block content %}

<h1 class="text-center mt-4">Privacy Policy</h1>

<p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit.</p>

<h2>Personal Information We Collect</h2>

<p>We collect Device Information using the following technologies:</p>
<ul>
    <li>Cookies</li>
    <li>Log files</li>
</ul>

<h2>How Do We Use Your Personal Information?</h2>

<p>We use the collected information for various purposes, including:</p>
<ul>
    <li>Providing and maintaining our services</li>
    <li>Improving, personalizing, and expanding our services</li>
    <li>Communicating with you</li>
    <li>Advertising and marketing</li>
    <li>Complying with legal obligations</li>
</ul>

<h2>Sharing Your Personal Information</h2>

<p>We may share your personal information with third parties to help us use your personal information.</p>

<h2>Security</h2>

<p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure.
</p>

<h2>Changes to This Privacy Policy</h2>

<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy
    Policy on this page.</p>

<h2>Contact Us</h2>

<p>If you have any questions about this Privacy Policy, please contact us at mumiaktechnologies@gmail.com or call us at +254112260924.</p>

{% endblock %}