<!--events template for the user logged in-->
{% extends 'sidebar.html' %}

{% block title %} Your Events {% endblock %}

{% block content %}

<h2 class="text-center">Your Events</h2>

{% if events %}
<ul>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for event in events %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5><a href="{% url 'event_detail' pk=event.pk %}">{{ event.event_name }}</a></h5>
                    Date: {{ event.event_date }}<br>
                    Organizer: {{event.organizer}}<br>
                    Fee: {{event.fee}}<br>
                    Venue: {{event.venue}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</ul>
{% else %}
<p class="text-center">You haven't created any events yet.</p>
{% endif %}

{% endblock %}