<!--password reset form-->
{% extends 'registration/base.html' %}

{% block title %} Reset Password Form {% endblock %}

{% block content %}
<br><br><br><br><br>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Enter new password</h3>
                    <hr>

                    <form method="post">

                        {% csrf_token %}
                        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

                        {{form}}

                        <input type="submit" value="Change" name="Update Password">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}