<!--password reset done-->
{% extends 'registration/base.html' %}

{% block title %} Reset Password Complete {% endblock %}

{% block content %}
<br><br><br><br><br>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Password reset complete</h3>
                    <hr>

                    <p>Your password has been set successfully.</p>

                    <a href="{% url 'login' %}">Log In</a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}