<!--reset password prompt-->
{% extends 'registration/base.html' %}

{% block title %} Reset Password {% endblock %}

{% block content %}
<br><br><br><br><br>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Password Reset</h3>
                    <hr>

                    <p class="mb-4">Forgotten your password? Enter your email and we will email instructions for setting
                        a new one.</p>

                    <form action="" method="post">
                        {% csrf_token %}

                        {{form}}

                        <br>
                        <input type="submit" class="btn btn-primary mt-2" name="Send email" value="Submit">
                        <a class="btn btn-secondary mt-2" href="{% url 'login' %}">Cancel</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}